@import '../../common/colors.scss';
.btn {
  border: none;
  outline: none;
  color: $font-light;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:focus-visible {
  /* remove default focus style */
  outline: 3px solid black;
  /* custom focus styles */
}
.btn-primary {
  background-color: $color-btn-dark;
  padding: 10px 15px;
}
.btn-disabled {
  text-decoration: line-through;
  background-color: $font-dark;
  padding: 10px 15px;
}
.btn-counter {
  background-color: $color-btn-dark;
  padding: 10px 10px;
  margin: 3px;
}
