@import '../../common/colors.scss';
.card {
  background: $color-tertiary;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: all 0.2s ease-in;
  @media screen and (max-width: 768px) {
    width: 70%;
  }
}
.product-card {
  background: $color-tertiary;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: all 0.2s ease-in;
  @media screen and (max-width: 768px) {
    padding: 10px;
  }
}
.product-card:hover {
  transform: scale(1.1);
  transition-timing-function: linear;
}
.card:hover {
  transform: scale(1.1);
  transition-timing-function: linear;
}
img {
  height: 100px;
  border-radius: 10px;
}
.card-counter {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}
.product-info {
  h4,
  h5,
  h6 {
    margin: 0;
    line-height: 25px;
  }
}
